@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
@Html.ActionLink("Lista de CENTROS DEPORTIVOS", "Index", "CentrosDeportivos")
<br />
@Html.ActionLink("Lista de DIRECTORES", "Index", "Directores")
<br />
@Html.ActionLink("Lista de PISTAS", "Index", "Pistas")
<br />
@Html.ActionLink("Lista de USUARIOS", "Index", "Usuarios")
<br />
@Html.ActionLink("Lista de USUARIOS-CENTROS", "Index", "CentroDeportivoUsuarios")