@model IEnumerable<EFconASPyMVC.Models.CentroDeportivoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CentroDeportivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CentroDeportivo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.UsuarioId,item.CentroDeportivoId }) |
                    @Html.ActionLink("Details", "Details", new { item.UsuarioId, item.CentroDeportivoId }) |
                    @Html.ActionLink("Delete", "Delete", new { item.UsuarioId, item.CentroDeportivoId })
            </td>
        </tr>
}
    </tbody>
</table>
