@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
@Html.ActionLink("Lista de CURSOS", "Index", "Cursos")
<br />
@Html.ActionLink("Lista de DIRECCIONES", "Index", "Direcciones")
<br />
@Html.ActionLink("Lista de ESTUDIANTE CURSOS", "Index", "EstudianteCursos")
<br />
@Html.ActionLink("Lista de ESTUDIANTES", "Index", "Estudiantes")
<br />
@Html.ActionLink("Lista de INSTITUTOS", "Index", "Institutos")